@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  overflow: hidden; /* Prevent scrolling */
}

/* Custom Selection Color */
::selection {
  background: rgba(255, 255, 255, 0.2);
  color: white;
}